@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1450px;
  margin: auto;
}

header .secondary-header {
  background-color: #0282F9;
}

header .secondary-header .secondary-header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: 30px;
}

header .secondary-header .secondary-header-wrapper ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

header .secondary-header .secondary-header-wrapper ul li {
  margin-right: 75px;
  color: white;
}

header .secondary-header .secondary-header-wrapper ul li:last-child {
  margin-right: 0px;
}

header .primary-header {
  background-color: white;
}

header .primary-header .primary-header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

header .primary-header .primary-header-wrapper .logo {
  display: flex;
  align-items: center;
  height: 100%;
}

header .primary-header .primary-header-wrapper .logo img {
  height: 80%;
}

header .primary-header .primary-header-wrapper ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

header .primary-header .primary-header-wrapper ul li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 30px;
}

header .primary-header .primary-header-wrapper ul li a {
  color: #2F2F2F;
  font-size: 1.2rem;
  font-weight: bold;
}

header .primary-header .primary-header-wrapper .primary-header-search {
  height: 20px;
  width: 150px;
}

.jumbotron {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.jumbotron .jumbotron-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1070px;
  min-height: 150px;
  background-image: url("/storage/assets/images/jumbotron.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.current-series {
  position: relative;
  background-color: #1C1C1C;
  padding: 50px 0;
}

.current-series .current-series-title {
  position: absolute;
  top: -22px;
  left: 210px;
  padding: 10px 25px;
  color: white;
  background-color: #0282F9;
  font-size: 1.7rem;
  font-weight: bold;
}

.current-series ul {
  display: flex;
  flex-flow: row wrap;
}

.current-series ul li {
  width: calc(100%/6);
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.current-series ul li img {
  display: block;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.current-series ul li span {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.current-series .load-more {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.current-series .load-more .load-more-btn {
  border: none;
  padding: 10px 50px;
  background-color: #0282F9;
  color: white;
  font-weight: bold;
}

.informations {
  background-color: #0282F9;
}

.informations .informations-wrapper ul {
  display: flex;
  justify-content: center;
}

.informations .informations-wrapper ul li a {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 50px 50px;
  color: white;
}

.informations .informations-wrapper ul li a img {
  height: 100%;
  margin-right: 20px;
}

.informations .informations-wrapper ul li a span {
  font-size: 1.2rem;
}

footer .primary-footer {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

footer .primary-footer .primary-footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/storage/assets/images/footer-bg.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .primary-footer .container .primary-footer-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left {
  display: flex;
  flex-flow: column nowrap;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links {
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
  width: 100%;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links .footer-col {
  margin-right: 50px;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links .footer-col h3 {
  padding-bottom: 15px;
  color: white;
  font-size: 1.8rem;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links .footer-col ul {
  margin-bottom: 20px;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links .footer-col ul li {
  padding-bottom: 5px;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links .footer-col ul li:last-child {
  padding-bottom: 0;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-links .footer-col ul li a {
  color: #797979;
}

footer .primary-footer .container .primary-footer-wrapper .primary-footer-left .footer-credits {
  color: #797979;
}

footer .primary-footer .container .primary-footer-wrapper .footer-logo {
  position: relative;
  width: 50%;
}

footer .primary-footer .container .primary-footer-wrapper .footer-logo img {
  position: absolute;
  top: -42%;
  right: 5%;
}

footer .secondary-footer {
  padding: 20px 0;
  background-color: #2E2E2E;
}

footer .secondary-footer .secondary-footer-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

footer .secondary-footer .secondary-footer-wrapper .secondary-footer-sign-up {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50%;
}

footer .secondary-footer .secondary-footer-wrapper .secondary-footer-sign-up a {
  padding: 15px 15px;
  border: 2px solid #0282F9;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

footer .secondary-footer .secondary-footer-wrapper .secondary-footer-social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

footer .secondary-footer .secondary-footer-wrapper .secondary-footer-social h3 {
  margin-right: 20px;
  color: #0282F9;
  font-size: 1.6rem;
}

footer .secondary-footer .secondary-footer-wrapper .secondary-footer-social ul {
  display: flex;
  flex-flow: row nowrap;
}

footer .secondary-footer .secondary-footer-wrapper .secondary-footer-social ul li {
  margin: 0 10px;
}

.elem-container {
  max-width: 1000px;
  margin: auto;
}

.blue-bar {
  position: relative;
  height: 100px;
  background-color: #0282F9;
}

.blue-bar img {
  position: absolute;
  bottom: 20%;
  border: 1px solid white;
}

.product {
  padding: 60px 0;
}

.product .product-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.product .product-wrapper .product-description {
  flex: 1 1 80%;
  margin-right: 40px;
}

.product .product-wrapper .product-description h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.product .product-wrapper .product-description .availability-bar {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  background-color: #55BA59;
  border-bottom: 1px solid black;
}

.product .product-wrapper .product-description .availability-bar .availability-bar-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  padding: 20px 20px;
}

.product .product-wrapper .product-description .availability-bar .availability-bar-right {
  display: flex;
  align-items: center;
  width: 20%;
  padding: 0 20px;
  border-left: 1px solid black;
}

.product .product-wrapper .product-description .description {
  font-size: 1.2rem;
  line-height: 2rem;
  color: gray;
}

.product .product-wrapper .adv {
  text-align: right;
}

.product .product-wrapper .adv h3 {
  font-size: 1.5rem;
}

